<main class="flex-shrink-0">
  <div class="container">
    <form [formGroup]="newTruckFormGroup" (ngSubmit)="onSubmit()">
      <div formGroupName="truck">
        <h1 class="h3 mb-3 fw-normal">Add New Truck Schedule</h1>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Truck Name" formControlName="name">
          <label for="floatingInput">Truck name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="date" placeholder="Password" formControlName="date">
          <label for="date">End Date</label>
        </div>
        <div class="container-fluid">
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="sunday" formControlName="sunday">
            <label class="form-check-label" for="sunday">Sunday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="monday" formControlName="monday">
            <label class="form-check-label" for="monday">Monday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="tuesday" formControlName="tuesday">
            <label class="form-check-label" for="tuesday">Tuesday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="wednesday" formControlName="wednesday">
            <label class="form-check-label" for="wednesday">Wednesday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="thursday" formControlName="thursday">
            <label class="form-check-label" for="thursday">Thursday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="friday" formControlName="friday">
            <label class="form-check-label" for="friday">Friday</label>
          </span>
          <span class="mb-3 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="saturday" formControlName="saturday">
            <label class="form-check-label" for="saturday">Saturday</label>
          </span>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
      </div>
    </form>
  </div>
</main>
